@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Fira Sans", serif; */
* {
    /* margin: 0px; */

}

.title-p {
    display: flex;
    justify-content: space-between;
    /* padding: 24px 160px 24px 160px; */
}

.title-desc {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.singin-btn {
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
    gap: 48;
    padding: 15px 30px 15px 30px;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: #C6E4D6;
    margin: 80px 0px;
    gap: 64px;
}

.banner-sub-title {
    margin: 16px 0px;
    color: #0E0E0E80;
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 117px;
}

.banner-title {
    color: #0E0E0E;
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
    margin-top: 16px;
}

.banner-btn {
    margin: 24px 0px;
    border-radius: 8px;
    background: #006A50;
    padding: 17px 34px 17px 34px;
    color: #FFFFFF;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    margin-top: 24px;
}

.pillars-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 32px 0px;
    margin-top: 80px;
}

.pillars-parent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    gap: 24px;
    padding: 24px;
    margin-top: 32px;
}

.pillars-info {
    gap: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
}

.info-title {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.info-desc {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.vision-title-m {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 80px;
}

.vision-desc-m {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}

.vision-main {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 32px;
}

.color-b {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

.color-g {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.color-o {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

.vision-parent {
    box-sizing: border-box;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 24px;
}


.vision-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.vision-desc {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.vision-btn-b {
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
    cursor: pointer;
}

.vision-btn-g {
    border: none;
    cursor: pointer;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(9, 161, 92);
}

.vision-btn-o {
    border: none;
    cursor: pointer;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(255, 194, 57);
}

.dr-vision {
    /* background-image: url(../assets/comma.png); */
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    /* background: rgb(255, 255, 255); */
    margin-top: 32px;
    padding: 24px 48px;
}

.dr-about {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.dr-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
}

.dr-desc {
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 4px;
}

.news-m {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 80px;
}

.news-desc-m {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}

.news-parent {
    /* padding: 48px; */
    margin: 24px 20px;

}

.news-title-p {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid rgba(43, 42, 42, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

}

.news-title-p2 {
    flex-direction: row-reverse;
    padding-right: 48px;
    margin-top: 24PX ;
    margin-bottom: 24px ;
}

.news-img {
    padding: 48px 0px 48px 48px;
}

.news-title {
    padding: 56px 48px 48px 32px;
}

.news-heading {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.news-time {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.news-desc {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.news-btn {
    border-radius: 8px;
    padding: 13px 26px 13px 26px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    cursor: pointer;
}